In [1]:
import sys
print(sys.version)

3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]

In [3]:
va = 10
vb = 10
vc = 10
print(va,vb,vc)

# id(va) -> int
# hex(id(va)) ->0x<address>

print(hex(id(va)),hex(id(vb)),hex(id(vc)))
print(hex(id(10)))

10 10 10
0x7ff84390b4c8 0x7ff84390b4c8 0x7ff84390b4c8
0x7ff84390b4c8

In [4]:
print(type(10))

<class 'int'>

In [5]:
print(hex(id(11)))

0x7ff84390b4e8

In [6]:
va = va + 1
print(va,hex(id(va)))

11 0x7ff84390b4e8

In [7]:
port = 5500
app = 'fastApi'
print(port,app)

5500 fastApi

In [8]:
print('App name is:',app,'Running port number is:',port) # (1)

App name is: fastApi Running port number is: 5500

In [9]:
print('App name is:%s Running port number is:%d'%(app,port)) # (2)

App name is:fastApi Running port number is:5500

In [10]:
print('App name is:{} Running port number is:{}'.format(app,port)) # (3)

App name is:fastApi Running port number is:5500

In [11]:
print(f'App name is:{app} Running port number is:{port}') #(4)

App name is:fastApi Running port number is:5500

In [13]:
# conditional statement - code validation 

if(port >5000 and port <6000):
    app = 'FastApi' 
else:
    app = 'demoApp'

print(f'App name is:{app} Running port number is:{port}')

App name is:FastApi Running port number is:5500

looping statement 
------------------
1. conditional style loop
   while 
   |-> rule 1 :initialization 
   |-> rule 2 :condition 
   |-> rule 3 : arithmetic 
 initialization
 while(condition):
     ...
     arithmetic
  -----------------------Vs
2. collection style loop
   for 
   for variable in <collection>:
       <codeblock>

In [14]:
i=0
while(i < 5):
    print(f'Test data ..{i}')
    i=i+1

Test data ..0
Test data ..1
Test data ..2
Test data ..3
Test data ..4

In [15]:
for var in 'abc':
    print(f'Test data...{var}')

Test data...a
Test data...b
Test data...c

python native types -- class
====================
int float complex bool(True False) NoneType (None)
str bytes list tuple 
dict set

s='abc3467$@3fh' # string

v=b'abc3467$@3fh' # bytes - collection of ASCII 

list - collection of different types of items - mutable - index based 
tuple - collection of different types of items - immutable - index based // 
dict -  collection of different types of items - mutable - key:value 
set - collection of unique items - this NOT index based ; NOT key:Value based 

list,tuple,dict
-----------------//multidimensional 
list,dict combination we will use more 
----------

In [17]:
# product 
# |->productName,cost,code,status

pname = 'pA'
pcode = 101
pcost = 4589.23
pstatus = True
################################     
product_info1 = ['pA',101,4589.23,True] # list - mutable 

product_info2 = ('pA',101,4589.23,True) # tuple - fixed record set - immutable 

product_info3 = {'K1':'pA','K2':101,'K3':4589.23,'K4':True} # dict - key:value - mutable

In [18]:
print(product_info1[0],product_info2[0])

pA pA

In [19]:
product_info1[2]=5690.42 # we can modify an exisiting value - list - mutable

In [20]:
print(product_info1)

['pA', 101, 5690.42, True]

In [22]:
product_info2[2] = 56900  # we can't modify - tuple - immutable

TypeError: 'tuple' object does not support item assignment

In [23]:
# list - mutable - we can;modify;delete

L = [] 
L.append('Data1')
L.append('Data2')
L.append(345)
L.append(True)
L.insert(1,'Dx')
L

['Data1', 'Dx', 'Data2', 345, True]

In [24]:
L.pop() # remove last index

True

In [25]:
L

['Data1', 'Dx', 'Data2', 345]

In [26]:
L.pop(1) # remove 1st index ->removed value

'Dx'

In [27]:
L

['Data1', 'Data2', 345]

In [ ]:
d={'K1':'V1'}

# d['newKey']=value (or) d.setdefault('newKey',value) # add - newdata to an existing value

d['oldKey'] = updatedValue # modification 

d.pop('inputKey') # we can delete nth data from dict

In [28]:
d={'pname':'pA','pname':'pB'} # duplicate key - overwrite my existing value 
print(d)

{'pname': 'pB'}

In [30]:
# list of dict
# ----------------
products = [{'pname':'pA','pcost':1000,'pcode':101},
            {'pname':'pB','pcost':2000,'pcode':102},
            {'pname':'pC','pcost':3000,'pcode':103}
           ]
print(type(products))
products

<class 'list'>

[{'pname': 'pA', 'pcost': 1000, 'pcode': 101},
 {'pname': 'pB', 'pcost': 2000, 'pcode': 102},
 {'pname': 'pC', 'pcost': 3000, 'pcode': 103}]

In [31]:
products[0]

{'pname': 'pA', 'pcost': 1000, 'pcode': 101}

In [32]:
products[1]

{'pname': 'pB', 'pcost': 2000, 'pcode': 102}

In [33]:
products[1]['pname']

'pB'

In [34]:
products[1]['pcost']

2000

In [35]:
# dict of list
# d={'Key1':[]}

products={'K1':['pA',101,1000],'K2':['pB',102,2000],'K3':['pC',103,3000]}
products

{'K1': ['pA', 101, 1000], 'K2': ['pB', 102, 2000], 'K3': ['pC', 103, 3000]}

In [36]:
products['K1']

['pA', 101, 1000]

In [37]:
products['K1'][0]

'pA'

In [38]:
products['K1'][2]

1000

In [39]:
products['K1'][2] = 2300 # we can modify an existing value

In [40]:
products

{'K1': ['pA', 101, 2300], 'K2': ['pB', 102, 2000], 'K3': ['pC', 103, 3000]}

In [41]:
def f1():
    return 'Data1'

f1()

'Data1'

In [42]:
def f1():
    return 'Data1',

f1()

('Data1',)

In [43]:
def f1():
    return 'Data1','Data2'
f1()

('Data1', 'Data2')

In [44]:
def f1():
    return 'Data1','Data2',['f1','f2'],('Dx','Dy'),{'K1':'V1'}

f1()

('Data1', 'Data2', ['f1', 'f2'], ('Dx', 'Dy'), {'K1': 'V1'})

In [ ]:
## OOPs style

class
object
method  - function
inheritance - parent<-->child
---------------

class className:
    <class attributes>

className.<attribute> 
            |->undefined => AttributeError Vs NameError

In [45]:
myapp = 'Flask'
print(myapp)
print(MyApp)

Flask

NameError: name 'MyApp' is not defined

In [46]:
class app1:
    myapp = 'Django'

print(app1.myapp)
print(app1.MYApp)

Django

AttributeError: type object 'app1' has no attribute 'MYApp'

In [47]:
s='python'
s.upper()

'PYTHON'

In [48]:
L=[]
L.append('D1')
L

['D1']

L.upper()
AttributeError: 'list' object has no attribute 'upper'

class list:
   def append():
   def insert():
   def pop():
   ..
   --------------//there is no attribute(variable,function) is called upper

In [50]:
# python user defined class is mutable 
#                     =====    =======

class product:
    pid = 101
    pname = 'pA'

print(product.pid,product.pname)
product.pname = 'pB' # we can modify - we can modify an existing class attribute
product.pcost = 1000 # we can new attribute to an existing class

101 pA

In [51]:
print(product.pname,product.pcost,product.pid)

pB 1000 101

In [ ]:
+-------------------------+ 
|                         |
|   (white) |  |          | <== blueprint sheet - class                      
+-------------------------+


+------------+    +-------------+
| (white) || |    | (white) ||  |
+------------+    +-------------+
   Building1        Building2     <== real object
    1st main          2nd main    <== own address(memory)

class classname:
    ...

classname() - constructor - objectcreation

In [52]:
import pandas
products={'K1':['pA',101,1000],'K2':['pB',102,2000],'K3':['pC',103,3000]}
pandas.DataFrame(products)

     K1    K2    K3
0    pA    pB    pC
1   101   102   103
2  1000  2000  3000

In [53]:
pandas.DataFrame(products)

     K1    K2    K3
0    pA    pB    pC
1   101   102   103
2  1000  2000  3000

C:\Users\karth>python
Python 3.13.5 (tags/v3.13.5:6cb20a2, Jun 11 2025, 16:15:46) [MSC v.1943 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
>>>
>>> class product:
...     pname='pA'
...
>>> product
<class '__main__.product'>
>>>
>>> product()
<__main__.product object at 0x0000023EE9680AD0>
>>> product()
<__main__.product object at 0x0000023EE95E6850>
>>>
>>> obj1 = product()
>>> obj2 = product()
>>>
>>> obj1.pname
'pA'
>>> obj2.pname
'pA'
>>> obj1.pname = 'LMRDevice' # object based initialization
>>> obj1.pname
'LMRDevice'
>>> obj2.pname
'pA'
>>> obj2.pname = 'medical_devices' # object based initialization
>>>
>>> obj2.pname
'medical_devices'
>>> obj1.pname
'LMRDevice'
>>>